$back_color: #282a36; //백그라운드 색
$main_color: #44475a; //메인 색
$font_color: #f8f8f2; //폰트 색
$impo_color: #bd93f9; //강조하고 싶을때 쓰는 색

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"); //폰트를 가져옴

.TodoTemplate {
    width: 40%;
    height: 85vh;
    border-radius: 15px;
    background-color: $main_color;
    font-family: "Noto Sans KR", sans-serif;
    overflow: hidden;
    &_header {
        display: flex;
        flex-direction: column;
        &_mainTitle {
            margin: 10px;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            color: $font_color;
        }
        &_subTitle {
            text-align: center;
            color: $impo_color;
            font-weight: bold;
        }
    }
    &_body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 70%;
        overflow-y: auto;
    }
    &_footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &_input {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
        }
    }
}

li {
    list-style: none;
    font-size: 20px;
}
.todo {
    position: relative;
    width: 500px;
    height: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.44);
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
    color: $font_color;
    display: flex;
    align-items: center;
    margin: 10px;
}
.todo_input {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    outline: none;
    width: 500px;
    border: none;
    border-radius: 10px;
}
.todo_submit {
    padding: 5px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #bd93f9;
    background-color: #282a36;
    outline: none;
    border: none;
    border-radius: 10px;
}
