$back_color: #282a36; //백그라운드 색
$main_color: #44475a; //메인 색
$font_color: #f8f8f2; //폰트 색
$impo_color: #bd93f9; //강조하고 싶을때 쓰는 색
$safe_color: #50fa7b; //안전한 색 ㅎㅎ
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"); //폰트를 가져옴

.TodoTemplate {
    width: 40%;
    height: 93vh;
    border-radius: 15px;
    background-color: $main_color;
    font-family: "Noto Sans KR", sans-serif;
    margin-bottom: 100px;
    &_header {
        display: flex;
        flex-direction: column;
        &_mainTitle {
            margin: 10px;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            color: $font_color;
        }
        &_subTitle {
            text-align: center;
            color: $impo_color;
            font-weight: bold;
        }
    }
    &_nav{
        padding-left: 15px;
        &_count{
            font-weight: bolder;
            color : $font_color;
        }
    }
    &_body {
        width: 100%;
        padding-top: 5px;
        overflow : auto;
        height: 65%;
        display: flex;
        flex-direction: column;
    }

    &_footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &_input {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
        }
    }
}

li {
    list-style: none;
    font-size: 20px;
}
.todo {
    width: 500px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.44);
    border-radius: 10px;
    font-weight: bold;
    padding: 30px;
    color: $font_color;
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}

.todo_input {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    outline: none;
    width: 500px;
    border: none;
    border-radius: 10px;
}
.todo_submit {
    padding: 5px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #bd93f9;
    background-color: #282a36;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.todo_delete-all {
    border-radius: 10px;
    background-color: $impo_color;
    outline: none;
    border: none;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
    cursor: pointer;
}
.delete {
    cursor: pointer;
}
.safe_mode {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    margin-top: 20px;
    background-color: $safe_color;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    &_info {
        cursor: pointer;
        margin-right: 20px;
    }
}
